<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.cloudflame.gobang"
        version     = "1.0.0" >


    <name>Gobang</name>

    <description>
        strategic board game: Five in a Row
    </description>
    <preference name="phonegap-version" value="cli-5.2.0" />
    <platform name="ios" >
      <preference name="orientation" value="portrait" />
    </platform>
    <preference name="fullscreen" value="true" />
    <preference name="target-device" value="universal" />
    <preference name="prerendered-icon" value="true" />
    <preference name="exit-on-suspend" value="true" />
    <preference name="deployment-target" value="6.0" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="UIWebViewBounce" value="false" />

</widget>
